@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@300&display=swap');

:root{
--lg-font: 'Libre Baskerville', serif;
--sm-font: 'Roboto', sans-serif;

}

.navbar{
box-shadow: 0ch 3px 9px 3px rgb(74, 44, 22)
}
.navbar-brand img{
width: 30px;
}
.navbar-brand span{
letter-spacing: 2px;
font-family: var(--lg-font);
}
.nav-link:hover{
    color: sandybrown!important;
}
.nav-item{
    border: bottom 0.5px solid rgba(244,164,96, 1)
}
