@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@300&display=swap');

:root{
--lg-font: 'Libre Baskerville', serif;
--sm-font: 'Roboto', sans-serif;

}



.btn1:not(.nav-btns button){
background-color: #fff;
color: black;
padding: 10px 28px;
border-radius: 25px;
border: 1px solid rgb(85,85,85);
text-decoration: none;
}

.btn1:not(.nav-btns button):hover{
background-color: var(#4a2c2a);
color: #fff;
border-color:var(#4a2c2a);
}
.navbar{
box-shadow: 0ch 3px 9px 3px rgb(74, 44, 22)
}
.navbar-brand img{
width: 30px;
}
.navbar-brand span{
letter-spacing: 2px;
font-family: var(--lg-font);
}
.nav-link:hover{
    color: sandybrown!important;
}
.nav-item{
    border: bottom 0.5px solid rgba(244,164,96, 1)
}

#header{
background-size: 100rem 40rem;
text-align: center;

}

.title h2::before{
position: absolute;
content: "";
width: 4px;
height: 50px;
background-color:var(#f4a460);
left: -20px;
top: 50%;
transform: translateY(-50%);
}

.active-filter-btn{
background-color: (#f4a460)!important;
color: #fff!important;
border-color: #f4a460!important;
}


.container{
margin-top: 100px;

}

.newarrival{

    background: #f4a460;
    width: 50px;
    color: #fff;
    font-size: 12px;
font-weight: bold;
}
.col-md-7 h2{
color: #555;
}











@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}